.fle{
    display: flex;
}
.items-center{
    align-items: center;

}
.justify-center{
    justify-content: center;
}
.space{
    justify-content: space-between;
}
.upper{
    text-transform: uppercase;
    font-weight: bolder;
}
.mr2{
    margin-right: 13px;
    margin-left: 13px;
}
.riin{
    width: 200px;
    height: 18px;
    box-shadow: grey (0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.section1{
    display: flex;
    justify-content: center;
    background-color: skyblue;
    margin-top: 20px;
}
.but{
    margin: 10px;
    color: red;
}